@charset "UTF-8";

body {
    background-color: rgb(119, 119, 250);
    font: normal 15pt Arial;
}

header{
    width: 90vw;
    text-align: center;
    color: white;
    margin: auto;
}

div{
    background: white;

    /*border: 1px solid rgb(82, 82, 82);*/
    /*border-radius: 10px;*/

    padding: 15px;

    width: 90vw;
    margin: auto;

    box-shadow: 5px 5px 10px rgba(90, 90, 90, 0.781);
}


footer {
    text-align: center;
    color: white;
    font: italic;
}

button {
    
}